// begin footer

footer.footer
  .container
    .footer__inner
      include ../menus/menu-footer/menu-footer.pug
      |
      |
      include ../partners/partners.pug
      |
      |
      p.copywrite © 2015 . All rights reserved.
    
// end footer
