// games_list begin

.games_list
  .promo
    include ../sliders/slider-promo/slider-promo.pug
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_01.jpg", alt="Lucky Magic")
      |
      |
      p.game__name 
        a(href="#") Lucky Magic
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_02.jpg", alt="Anubis’ secret")
      |
      |
      p.game__name
        a(href="#") Anubis’ secret
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_03.jpg", alt="Dream of Knight")
      |
      |
      p.game__name
        a(href="#") Dream of Knight
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_01.jpg", alt="Lucky Magic")
      |
      |
      p.game__name
        a(href="#") Lucky Magic Lucky Magic Lucky Magic Lucky Magic
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_02.jpg", alt="Anubis’ secret")
      |
      |
      p.game__name
        a(href="#") Anubis’ secret
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_03.jpg", alt="Dream of Knight")
      |
      |
      p.game__name
        a(href="#") Dream of Knight
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_01.jpg", alt="Lucky Magic")
      |
      |
      p.game__name
        a(href="#") Lucky Magic
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_02.jpg", alt="Anubis’ secret")
      |
      |
      p.game__name
        a(href="#") Anubis’ secret
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_03.jpg", alt="Dream of Knight")
      |
      |
      p.game__name
        a(href="#") Dream of Knight
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_04.jpg", alt="Submarine adventure")
      |
      |
      p.game__name
        a(href="#") Submarine adventure
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_05.jpg", alt="The big money scent")
      |
      |
      p.game__name
        a(href="#") The big money scent
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_01.jpg", alt="Lucky Magic")
      |
      |
      p.game__name
        a(href="#") Lucky Magic
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_02.jpg", alt="Anubis’ secret")
      |
      |
      p.game__name
        a(href="#") Anubis’ secret
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_03.jpg", alt="Dream of Knight")
      |
      |
      p.game__name
        a(href="#") Dream of Knight
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_04.jpg", alt="Submarine adventure")
      |
      |
      p.game__name
        a(href="#") Submarine adventure
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_05.jpg", alt="The big money scent")
      |
      |
      p.game__name
        a(href="#") The big money scent
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_01.jpg", alt="Lucky Magic")
      |
      |
      p.game__name
        a(href="#") Lucky Magic
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_02.jpg", alt="Anubis’ secret")
      |
      |
      p.game__name
        a(href="#") Anubis’ secret
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_03.jpg", alt="Dream of Knight")
      |
      |
      p.game__name
        a(href="#") Dream of Knight
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_04.jpg", alt="Submarine adventure")
      |
      |
      p.game__name
        a(href="#") Submarine adventure
  |
  |
  .game
    .game__inner
      .game__img
        a.play_btn.button(href="#") Play now
        |
        |
        a.demo_btn.button.orange(href="#") Demo
        |
        |
        img(src="assets/img/games/elem_05.jpg", alt="The big money scent")
      |
      |
      p.game__name
        a(href="#") The big money scent
|
|
.text-center
  button.button(type="button") More games

// games_list end
