// begin header

header.header
  .first.header-line
    .container
      .header-line__inner
        |
        |
        span.hamburger
          span
        |
        |
        |
        include ../logo/logo.pug
        |
        |
        include ../lang/lang.pug
  |
  |
  .second.header-line
    .before
    |
    |
    span.menu__close.button.icon.icon-close
    |
    |
    .container
      .header-line__inner
        |
        |
        a.fast-reg_btn(href="#") 
          span.icon.icon-flash
          span.text Быстрая регистрация
        |
        |
        include ../menus/menu-main/menu-main.pug
        |
        |
        include ../social/social.pug
        |
        |
        button.form-login_btn.button(type="button") Login 
        .form-login__outer
          |
          |
          span.form-login__close.back
            span.icon.icon-arr_left
            span.text Назад
          |
          |
          include ../forms/form-login/form-login.pug
|
|
// end header
