// form-login begin

form.form-login
  .form-element.text-center
    button.button.reg_btn(type="button") Registration
  |
  |
  .form-element
    input(type="text", name="username", placeholder="Username", required)
  |
  |
  .form-element
    input(type="password", name="password", placeholder="Password", required)
    |
    |
    a.forgot_pass_btn(href="#") Forgot your password?
  |
  |
  .submit-element
    button.button.orange(type="submit") Login

// form-login end
