/* typography begin
 ---------------------------------------------------- */

p
  margin: 0 0 15px

a
  text-decoration: underline
  color: $ma_color
  transition: $def_trn

  &:hover
    text-decoration: none
    color: $ma_color

  &.inherit
    color: inherit
  &.inherit:hover
    color: $ma_color

/* typography end
 ---------------------------------------------------- */
