// slider promo begin

.slider-promo__outer
  .slider-promo__inner
    .promo__head Promotions
    |
    |
    .slider-promo
      .slide
        a(href="#")
          img(src="assets/img/promo/elem_01.jpg", alt="")
          |
          |
          span.slide__txt
            span.slide__title Reach for the stars with up to 200 free spins
            span.slide__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt leo malesuada eros elementum eget eu ligula. 
      |
      |
      .slide
        a(href="#")
          img(src="assets/img/promo/elem_02.jpg", alt="")
          |
          |
          span.slide__txt
            span.slide__title Reach for the stars with up to 200 free spins
            span.slide__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt leo malesuada eros elementum eget eu ligula. 
      |
      |
      .slide
        a(href="#")
          img(src="assets/img/promo/elem_03.jpg", alt="")
          |
          |
          span.slide__txt
            span.slide__title Reach for the stars with up to 200 free spins
            span.slide__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt leo malesuada eros elementum eget eu ligula. 
      |
      |
      .slide
        a(href="#")
          img(src="assets/img/promo/elem_04.jpg", alt="")
          |
          |
          span.slide__txt
            span.slide__title Reach for the stars with up to 200 free spins
            span.slide__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt leo malesuada eros elementum eget eu ligula. 

// slider promo end
