// section-games_info begin

.section-games_info.section
  .container
    .row
      .col-left.col.col-lg-6
        h2.h2.pl20 Last winners
        |
        |
        include ../../sliders/slider-last_winners/slider-last_winners.pug
      |
      |
      .col-right.col.col-lg-6
        h2.h2.pl20 Jackpot
        |
        |
        include ../../jackpot/jackpot.pug

// section-games_info end
