// social begin

ul.social
  li
    a.icon.icon-fb(href="#", target="_blank", rel="nofollow")
  li
    a.icon.icon-tw(href="#", target="_blank", rel="nofollow")
  li
    a.icon.icon-vk(href="#", target="_blank", rel="nofollow")

// social end
