/* categories begin
 ---------------------------------------------------- */

.categories
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  margin: 0 -12px

  .element
    margin: 15px 12px 0
    width: calc(20% - 24px)
    max-width: 200px
    .icon
      margin-right: 10px
      @extend %links-blue
      &-ruby
        font-size: 14px
      &-new
        font-size: 18px
      &-slot
        font-size: 18px
      &-cards
        font-size: 20px
      &-roulette
        font-size: 20px

@media only screen and (max-width: 991px)
  .categories
    .element
      width: calc(33.333333% - 24px)

@media only screen and (max-width: 767px)
  .categories
    .element
      width: calc(50% - 24px)

@media only screen and (max-width: 479px)
  .categories
    margin: 0 -7px
    .element
      margin: 15px 7px 0
      width: calc(50% - 14px)
      font-size: 10px
      .icon
        &-ruby
          font-size: 12px
        &-new
          font-size: 16px
        &-slot
          font-size: 16px
        &-cards
          font-size: 18px
        &-roulette
          font-size: 18px


/* categories end
 ---------------------------------------------------- */
