// section-games_list begin

.categories
  a.element.button.transparent(href="#")
    span.icon.icon-ruby
    | Popular
  |
  |
  a.element.button.transparent(href="#")
    span.icon.icon-new
    | New
  |
  |
  a.element.button.transparent(href="#")
    span.icon.icon-slot
    | Slot games
  |
  |
  a.element.button.transparent(href="#")
    span.icon.icon-cards
    | Card games
  |
  |
  a.element.button.transparent(href="#")
    span.icon.icon-roulette
    | Roulette

// section-games_list end
