doctype html
html(lang='en')
  head
    - var include_head_title = 'Главная'
    - var index_logo_tag = 'span'
    include ../blocks/system/head.pug
  body
    .outer
      include ../blocks/header/header.pug
      |
      |
      // begin wrapper
      .wrapper
        include ../blocks/sections/section-logo/section-logo.pug
        |
        |
        include ../blocks/sections/section-games_info/section-games_info.pug
        |
        |
        include ../blocks/sections/section-games_list/section-games_list.pug
      |
      |
      // end wrapper
      |
      |
      include ../blocks/footer/footer.pug
    |
    | 
    include ../blocks/system/foot.pug
      
