// partners begin

ul.partners
  li
    img(src="assets/img/partners/mastercard.png", alt="MasterCard")
  li
    img(src="assets/img/partners/yamoney.png", alt="Яндекс.Деньги")
  li
    img(src="assets/img/partners/visa.png", alt="VISA")
  li
    img(src="assets/img/partners/liqpaycom.png", alt="liqpay.com")
  li
    img(src="assets/img/partners/qiwi.png", alt="Qiwi Wallet")

// partners end
