// lang begin

ul.lang
  span.lang__active 
    img(src="assets/img/lang/eng.jpg", alt="")
    | English
    span.triangle
  |
  |
  ul.lang__list
    li
      a(href="#") 
        img(src="assets/img/lang/rus.jpg", alt="")
        | Русский
    li
      a(href="#") 
        img(src="assets/img/lang/ger.jpg", alt="")
        | Deutsch

// lang end
