// menu-footer begin

ul.menu.menu-footer
  li
    a(href="#") About casino
  li
    a(href="#") Terms and conditions
  li
    a(href="#") Responsible gaming
  li
    a(href="#") Contact us

// menu-footer end
