// slider last winners begin

.slider-last_winners__outer
  .slider-last_winners
    .slide
      a.slide__img(href="#")
        img(src="assets/img/last_winners/elem_01.jpg", alt="Ghotic")
      |
      |
      .slide__txt
        a.slide__game.shave(href="#") Ghotic
        p.slide__money 185.00$
        a.slide__player(href="#") PlayerName
    |
    |
    .slide
      a.slide__img(href="#")
        img(src="assets/img/last_winners/elem_02.jpg", alt="Game of Thrones")
      |
      |
      .slide__txt
        a.slide__game.shave(href="#") Game of Thrones
        p.slide__money 185.00$
        a.slide__player(href="#") PlayerNamePlayerNamePlayerName
    |
    |
    .slide
      a.slide__img(href="#")
        img(src="assets/img/last_winners/elem_03.jpg", alt="Robyn")
      |
      |
      .slide__txt
        a.slide__game.shave(href="#") Robyn
        p.slide__money 185.00$
        a.slide__player(href="#") PlayerName
    |
    |
    .slide
      a.slide__img(href="#")
        img(src="assets/img/last_winners/elem_04.jpg", alt="Robyn")
      |
      |
      .slide__txt
        a.slide__game.shave(href="#") Robyn
        p.slide__money 185.00$
        a.slide__player(href="#") PlayerName

// slider last winners end
