// form-search begin

form.form-search
  .form-element
    input(type="search", placeholder="Search for game ...", required)
    |
    |
    button.icon.icon-search(type="submit")

// form-search end
