// menu-main begin

ul.menu.menu-main
  li
    a(href="#") Все игры
  li
    a(href="#") Пополнение счета
  li
    a(href="#") Получить выигрыш
  li
    a(href="#") Бонусы
  li
    a(href="#") Мобильная версия
  li
    a(href="#") Контакты

// menu-main end
