// section-games_list begin

.section-games_list.section
  .container
    include ../../categories/categories.pug
    |
    |
    include ../../sort_search/sort_search.pug
    |
    |
    include ../../games_list/games_list.pug

// section-games_list end
