// jackpot begin

.jackpot
  .jackpot__element.first
    .jackpot__img
      img(src="assets/img/jackpot/first.png", alt="1")
    |
    |
    p.jackpot__number 7 859 352
  |
  |
  .jackpot__element.second
    .jackpot__img
      img(src="assets/img/jackpot/second.png", alt="2")
    |
    |
    p.jackpot__number 2 148 759
  |
  |
  .jackpot__element.third
    .jackpot__img
      img(src="assets/img/jackpot/third.png", alt="3")
    |
    |
    p.jackpot__number 1 589 654

// jackpot end
